node_modules
.tmp
.sass-cache
app/bower_components
test/bower_components
npm-debug.log
homepage.css
index.html
data.json
*.html
script.js
icons-svg.svg
styles\main.css
investment-approach.css
leadership.css
operations-details.css
ref.jpg
operations.css
template
performance.css
assets_live
main.css
assets_live_test
dist
plugin.bundle.js
script.bundle.js
*.log
**/*.DS_Store