//- todo starts here
.todo
  h2 Todos
  .todo__details
    input(type='text', name='additem', placeholder="What needs to be done?", class="todo__input")
    .todo__listwrap
      ul.list-group.todo__list
      .todo__added 0 item left

//- todo ends here